<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/Cadastro/Incluir" method="post">
        <label>Titulo:</label>
        <input name="titulo" />
        <br />
        <br />
        <label>Autor:</label>
        <input name="autor" />
        <br />
        <br />
        <button>Gravar</button>
        <br />
        <br />
    </form>
</body>
</html>